.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 10%;
}

.nav-link{
  margin: 10px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.large-text{
  font-size: x-large;
  font-weight: bold;
}


