.App {
  text-align: center;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 40vh;
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.nav-link {
  margin: 10px;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container img {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 7px rgba(45, 59, 38, 0.5);
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25px;
}

.home-header img {
  margin-top: 3px;
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.home-header img:hover {
  cursor: pointer;
}

.large-text {
  font-size: x-large;
  font-weight: bold;
}

.icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

button {
  border-radius: 15px;
  margin-right: 25px;
  padding: 5px 15px 5px 15px;
}

button:hover {
  cursor: pointer;
}







