.App {
  text-align: center;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.nav-link{
  margin: 10px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

.large-text{
  font-size: x-large;
  font-weight: bold;
}


